.formGroupValid {
  margin-top: 2em;
  width: 270px;
  height: 50px;
  margin-bottom: 1em;
  border-radius: 10px;
  outline: none;
}

.formGroupValid input {
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 3px solid #d9d9d9;
  outline: none;
  padding-left: 0.5em;
  font-size: clamp(0.8em, 1.5vw, 1em);
}

.formGroupValid input:focus {
  border: 3px solid #156fff;
}

.formGroupValid input::placeholder {
  font-size: clamp(0.8em, 1.5vw, 1em);
}

.formGroupInvalid {
  margin-top: 2em;
  width: 270px;
  height: 50px;
  margin-bottom: 2em;
  border-radius: 10px;
  outline: none;
  position: relative;
}

.formGroupInvalidLogIn{
  margin-top: 2em;
  width: 270px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  margin-bottom: 1em;
}

.formGroupInvalidLogIn input{
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 3px solid #FF5715;
  outline: none;
  padding-left: 0.5em;
  font-size: clamp(0.8em, 1.5vw, 1em);
}

.formGroupInvalid input {
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 3px solid #FF5715;
  outline: none;
  padding-left: 0.5em;
  font-size: clamp(0.8em, 1.5vw, 1em);
}

.formGroupInvalid p{
  color: #FF1515;
  font-size: 0.8em;
  position: absolute;
  bottom: -20px;
}





