* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


main {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.formContainer button {
  width: 7em;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #156fff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.formContainer {
  width: 60%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 40%;
  height: 100vh;
  /* background-color: green; */
  opacity: 0.8;
  background: url("../public/background.png");
  background-size: cover;
}

.formInfoContainer {
  width: 30em;
  height: 31em;
  /* border: 10px solid red; */
  margin-right: 4em;
}

.titleContainer {
  width: 100%;
  height: 10em;
  /* border: 10px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("../public/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.form {
  width: 100%;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  align-items: center;
  /* background-color: green; */
}

.formGroup {
  width: 270px;
  height: 50px;
  margin-bottom: 1em;
  border-radius: 10px;
  outline: none;
  position: relative;
}

.animationIn{
  animation: bounceIn 1s ease-in-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.formGroup:nth-child(4) {
  background-color: #fbe5c3;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease-in-out
}

.displayFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 1em; */
  /* padding-right: 1em; */
}

.textContainer {
  height: 100%;
  width: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer a {
  font-size: 0.8em;
  font-weight: 500;
  color: #b2b2b2;
  /* text-decoration: none; */
}

@media (max-width: 900px) {
  .imageContainer {
    display: none;
  }

  main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 10px solid red; */
  }

  .formContainer{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 10px solid green; */
    overflow: hidden;
  }

  .formInfoContainer{
    width: 100%;
    height: 100%;
    margin: 0;
    /* border: 10px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    margin-bottom: 8em;

  }

  .titleContainer{
    height: 7em;
    background-size: 50%;
    /* border: 10px solid blue; */
  }

  form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 10px solid blue; */
    display: flex;
    height: auto;
  }

  .displayFlex{
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* border: 10px solid blue; */
    display: flex;
  }

  .displayFlex button{
    /* margin-top: 1em; */
    width: 270px;
    height: 6em;  
  }

}


